target
RQ1/all-binaries-metadata
mongodb
*.7z
*.pdf
*.json
*.csv
*.log
reduced
*.7z
README.old.md
RQ1
metas
bucket
extract_all.sh
backup
*_db
datas
compress_data.sh
create_csv.sh
data.zip
deploy_to_release.sh
*.svg
datasets.zip
tt
__pycache__
scripts
malice
minio_profile
vt_profile
.keys
benign
malicious
out*
name.socket
upload
wrong
snapshots
snp
old
tmp
*.wasm
chromedriver
cargo.logs.txt
logs.txt
probes.logs.txt
test.zip
tmp_bck
tmp_bck2tools
crawl_data*
data
job*
*.png